version: '3.9'
services:
  db:
    image: postgres:16-alpine
    container_name: estudia_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: estudia_dev
    ports:
      - '5432:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL','pg_isready -U postgres']
      interval: 5s
      timeout: 3s
      retries: 5
volumes:
  pg_data:
